In [1]:
import pandas as pd
import csv
import os
import opendatasets as od

In [2]:
dataset_url  = 'https://www.kaggle.com/datasets/swarnimrai/webtoon-comics-dataset?resource=download'

In [3]:
od.download(dataset_url)

Skipping, found downloaded files in ".\webtoon-comics-dataset" (use force=True to force download)

In [4]:
directory = '.\webtoon-comics-dataset'

In [5]:
os.listdir(directory)

['Webtoon Dataset.csv']

In [6]:
df = pd.read_csv('.\webtoon-comics-dataset/Webtoon Dataset.csv')

In [7]:
df.head(2)

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,0,Let's Play,Leeanne M. Krecic (Mongie),30.6M,Romance,9.62,4.2M,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,1,True Beauty,Yaongyi,39.9M,Romance,9.60,6.4M,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...

In [8]:
df.dtypes

id                int64
Name             object
Writer           object
Likes            object
Genre            object
Rating          float64
Subscribers      object
Summary          object
Update           object
Reading Link     object
dtype: object

In [9]:
df.drop(['id', 'Reading Link'], axis=1,inplace=True)

In [10]:
df.dtypes

Name            object
Writer          object
Likes           object
Genre           object
Rating         float64
Subscribers     object
Summary         object
Update          object
dtype: object

In [11]:
df['Likes'] = df['Likes'].str.replace('[^\d\.]', '', regex=True)
df['Likes'] = pd.to_numeric(df['Likes'])

In [12]:
df['Subscribers'] = df['Subscribers'].str.replace('[^\d\.]', '', regex=True)
df['Subscribers'] = pd.to_numeric(df['Subscribers'])

In [13]:
df.dtypes

Name            object
Writer          object
Likes          float64
Genre           object
Rating         float64
Subscribers    float64
Summary         object
Update          object
dtype: object

In [14]:
df['Update'] = df['Update'].str.replace('UP EVERY', '', regex=True)

In [15]:
df.head()

,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update
0,Let's Play,Leeanne M. Krecic (Mongie),30.6,Romance,9.62,4.2,"She's young, single and about to achieve her d...",TUESDAY
1,True Beauty,Yaongyi,39.9,Romance,9.60,6.4,"After binge-watching beauty videos online, a s...",WEDNESDAY
2,Midnight Poppy Land,Lilydusk,10.4,Romance,9.81,2.1,After making a grisly discovery in the country...,SATURDAY
3,Age Matters,Enjelicious,25.9,Romance,9.79,3.5,She's a hopeless romantic who's turning 30's ...,WEDNESDAY
4,Unholy Blood,Lina Im / Jeonghyeon Kim,9.9,Supernatural,9.85,1.5,When vampires destroy her chance to have the n...,THURSDAY

In [ ]:
df.dtypes

In [ ]:
df.to_csv('C:/Users/laura/OneDrive/Desktop/projects/webtoons_datasetcleaned_df.csv', index=False)